body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #282c34;
    color: #fff;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form {
    display: flex;
    flex-direction: column;
}
input[type=text], input[type=submit] {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
input[type=submit] {
    background-color: #61dafb;
    border: none;
    cursor: pointer;
    color: #000;
}
input[type=text] {
    color: #333;
}

